
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LearnerLayout.cshtml";
}

<h2>Home</h2>
<p>This is home for a Learner dont forget to change the nav of admin you can add another layout or use raizor to change only the nav</p>

